@import url("https://fonts.googleapis.com/css2?family=REM:wght@300;600;700&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@100;300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=REM:wght@300;600;700&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@100;300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.horizontal-line {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.471);
  width: 100%;
}

p {
  color: rgb(207, 202, 202);
  font-family: "Work Sans", sans-serif;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  font-weight: 600;
}

header {
  background-image: url(./img/countries.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.black-bg {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.624);
  padding-top: 20px;
}
.black-bg .header-main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 90%;
  margin: auto;
}
.black-bg .header-main > #drpdwnmenu {
  display: none;
  animation-name: drpdwn-opcty;
  animation-duration: 0.5s;
}
.black-bg .header-main > .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.black-bg .header-main > .nav > .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.black-bg .header-main > .nav > .logo > img {
  width: 40px;
}
.black-bg .header-main > .nav > .logo > h2 {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.black-bg .header-main > .nav > .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.black-bg .header-main > .nav > .nav-list > a {
  color: white;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.5s;
  font-family: "Work Sans", sans-serif;
}
.black-bg .header-main > .nav > .nav-list > a:hover {
  text-decoration: underline;
  transition: all 0.5s;
}
.black-bg .header-main > .nav > .nav-list > img {
  width: 50px;
  display: none;
}
.black-bg .header-main > .header-text {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 10px;
}
.black-bg .header-main > .header-text > h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.black-bg .header-main > .bottom {
  background-color: white;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.black-bg .header-main > .bottom > h3 {
  font-family: "Crimson Text", serif;
  color: black;
  font-size: 25px;
}
.black-bg .header-main > .bottom > .regionbtn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.black-bg .header-main > .bottom > .regionbtn:hover {
  opacity: 0.6;
}
.black-bg .header-main > .bottom > .regionbtn > img {
  width: 10px;
  height: 10px;
  transform: rotate(270deg);
}
.black-bg .header-main > .bottom > .regionbtn > button {
  background-color: white;
  border: none;
  font-size: 16px;
}

@keyframes dropdown {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 73px;
    opacity: 1;
  }
}
@keyframes drpdwn-opcty {
  0% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 1;
    top: 50px;
  }
}
main {
  margin-top: 200px;
  position: relative;
}
main > .dropdown-menu {
  position: absolute;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
  top: -115px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: none;
  animation-name: dropdown;
  animation-duration: 0.3s;
  height: 73px;
  overflow: auto;
}
main > .dropdown-menu > p {
  color: black;
  margin: 10px;
  text-align: start;
  transition: all 0.5s;
  cursor: pointer;
}
main > .dropdown-menu > p:hover {
  color: rgb(62, 62, 153);
  text-decoration: underline;
  transition: all 0.3s;
}
main > .main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main > .main-container > .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main > .main-container > .text > h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 25px;
}
main > .main-container > .text > p {
  color: rgb(121, 119, 119);
}
main > .main-container > #all-countries {
  display: grid;
}
main > .main-container > .countries-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
  border-radius: 10px;
  justify-content: center;
  padding-bottom: 120px;
  display: none;
}
main > .main-container > .countries-container > .country {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: rgb(62, 62, 153);
  color: white;
}
main > .main-container > .countries-container > .country > .main {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main > .main-container > .countries-container > .country > .main > .top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
}
main > .main-container > .countries-container > .country > .main > .top > .next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
main > .main-container > .countries-container > .country > .main > .top > .next:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
main > .main-container > .countries-container > .country > .main > .top > .next > h3 {
  color: rgb(62, 62, 153);
}
main > .main-container > .countries-container > .country > .main > .top > .middle {
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all 0.4s;
}
main > .main-container > .countries-container > .country > .main > .top > .middle:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}
main > .main-container > .countries-container > .country > .main > .top > .middle > img {
  width: 50px;
}
main > .main-container > .countries-container > .country > .main > .bottom {
  margin-top: 30px;
}
main > .main-container > .countries-container > .country > .main > .bottom > h3 {
  text-align: center;
}
main > .main-container > .countries-container > .country > .main > .middle {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main > .main-container > .countries-container > .country > .main > .middle > h4 {
  text-align: center;
}
main > .main-container > .countries-container > .country > .main > .middle > .text {
  display: flex;
  justify-content: space-between;
}
main > .main-container > .countries-container > .country > .main > .middle > .text > .currency {
  display: flex;
  gap: 3px;
  align-items: center;
}

footer {
  background-image: url(./img/countries.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer > .black-bg {
  height: 100px;
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */